<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	</head>
	<body>
		我是不同于的iframe页面，下面是接受到的消息内容
 		<div id="divMessage"></div>
	</body>
	<script type="text/javascript">
  		function handMessage(event){
    		event=event||window.event;
   			if(event.origin==='http://172.20.10.2:8020'){
   				document.getElementById('divMessage').innerHTML=event.data;
   			}
		}
		if(window.addEventListener){
   			window.addEventListener("message",handMessage,false);
		}else{
			window.attachEvent("onmessage",handMessage)
		}
	</script>
</html>
